html {
    font-family: 'Rubik', sans-serif;
    }

.gradient {
    background: #FDBDD9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EEC198, #FDBDD9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEC198, #FDBDD9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEC198, #FDBDD9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEC198, #FDBDD9); /* Standard syntax */
}
 
 img {
     width: 80%;
 }

/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
      img {
            max-width: 70vw;
            height: auto;
      }
}*/

.about {
    background-color: black;
    color: white;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: height 0.3s ease-in-out;
}

.about.open {
    height: 100%;
}
