html {
    font-family: 'Rubik', sans-serif;
    }

.gradient {
    background: #FDBDD9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EEC198, #FDBDD9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEC198, #FDBDD9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEC198, #FDBDD9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEC198, #FDBDD9); /* Standard syntax */
}

img {
    height: 70vh;
    width: auto;
    }

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      img {
            width: 70vw;
            height: auto;
      }

}